#selector360_container
{
    width: 100%;
}

#selector360_container > div
{
    padding: 10px;
    display: flex;
    flex: 1;
}

.refresh_button
{
    width: 100%;
    text-align: left;
    margin: 3px;
    padding: 3px;
    border: none;
    background: whitesmoke;
    cursor: pointer;
    flex: 8;
}

.sortby_button
{
    width: 100%;
    margin: 3px;
    padding: 3px;
    border: none;
    background: whitesmoke;
    cursor: pointer;
    flex: 1;
}

/* 1:N and N:N */
#selector360_container > div > div
{
    padding: 10px;
    flex: 1;
}

/* Entity or Relationship Details */
#selector360_container > div > div > div > div
{
    margin: 3px;
    padding: 10px;
    background: whitesmoke;
    border-radius: 5px;
}

.drilldown_select
{
    width: 100%;
    margin-top: 5px;
    padding: 3px;
    border: none;
    cursor: pointer;
    flex: 1;
    background-color: white;
}